.hr {
  width: 90%;
  background-color: black;
  align-self: center;
  margin: 0 auto;
}

.brand {
  display: inline-flex;
  gap: 0.5em;
}

.NavLinkS {
  display: inline-flex;
  gap: 5em; 
  justify-content: flex-end;
}