@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
}

.rocket {
  margin-block: 2%;
  width: 95%;
  margin-inline: auto;
  display: flex;
  gap: 2%;
  height: 30%;
}

.rocket-image {
  height: 30%;
  width: 215px;
}

.img-rocket img {
  height: 30%;
  width: 100%;
}

.button {
  color: #fff;
  background: #3434ff;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 126px;
  padding: 6px;
}

.Profile {
  display: flex;
  justify-content: flex-end;
}
